<div class="container">
    <br>
    <h1 class="text-center">Login</h1>
    <br>
    <br>
    <form #f="ngForm" (ngSubmit)="login(f)">
        <input id="email" ngModel name="email" #email="ngModel" type="email" class="form-control" placeholder="Email" required email>
        <div id="error" class="alert alert-danger" *ngIf="email.touched && email.errors?.required">Email is required</div>
        <div id="error" class="alert alert-success" *ngIf="email.touched && email.errors?.email"><i class="fas fa-times-circle"></i>Your email is not in required format</div>
        <br>
        <input id="pass" ngModel name="password" #password="ngModel" type="password" class="form-control" placeholder="Password" required minlength="6">
        <div id="error" class="alert alert-danger" *ngIf="password.touched && password.errors?.required">Password Required</div>
        <div id="error" class="alert alert-success" *ngIf="password.touched &&  password.errors?.minlength"><i class="fas fa-times-circle"></i>Password must be more than 6 characters</div>
        <br>
        <button id="button" class="btn btn-primary" [disabled]="f.invalid">Login</button>
    </form>
    <br>
    <div id="error" class="alert alert-danger" *ngIf="loginError">{{ loginError}}</div>
</div>