<h2 class="text-center">Add a Food item</h2>
<table class="table">
    <tbody>
      <tr>
        <td>
        </td>
        <td>
          <form #e="ngForm">
            <input type="text" class="form-control" name="name" ngModel placeholder="Name" required #name><br>
            <input type="number" class="form-control" name="price" ngModel placeholder="Price" required #price><br>
            <input type="file" ngModel name="photo" required #image><br><br>
            <h4>To add Cafe Item: type-'cafe'</h4>
            <h4>To add Breakfast Item: type-'breakfast'</h4>
            <h4>To add Lunch Item: type-'lunch'</h4>
            <h4>To add Juice Item: type-'juice'</h4><br>
            <input type="text" class="form-control" name="category" ngModel placeholder="Type the category to add the item" required #category><br><br>
            <input *ngIf="category.value === 'juice'" type="submit" value="AddJuice" class="btn btn-success" [disabled]="e.invalid" (click)="addJuice(e)">
            <input *ngIf="category.value === 'breakfast'" type="submit" value="AddBreakfast" class="btn btn-success" [disabled]="e.invalid" (click)="addBreakfast(e)">
            <input *ngIf="category.value === 'cafe'" type="submit" value="AddCafe" class="btn btn-success" [disabled]="e.invalid" (click)="addCafe(e)">
            <input *ngIf="category.value === 'lunch'" type="submit" value="AddLunch" class="btn btn-success" [disabled]="e.invalid" (click)="addLunch(e)">

          </form>
            
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-success text-center" *ngIf="add === 1"><i class="fa fa-check"></i> Item added !!</div>
