<div class="row">
<div class="col-12">    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/" routerLinkAvtive="active">Canteen</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/" routerLinkAvtive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item"  routerLink="/breakfast" >Breakfast</a>
            <a class="dropdown-item"  routerLink="/lunch">Lunch</a>
            <a class="dropdown-item"  routerLink="/juices">Juices</a>
            <a class="dropdown-item"  routerLink="/cafe">Cafe</a>
          </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/cart" routerLinkAvtive="active">Cart</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkAvtive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkAvtive="active">Login</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkAvtive="active">SignUp</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-danger">Logout</button>
          </li> 
        </ul>
        
      
    </div>
  </nav>
</div>
</div>